<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de la Observación</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onReturn()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="inset">
      <ion-label>Fecha</ion-label>
      <ion-datetime displayFormat="DD/MMM/YY" readonly [value]="observation.fecha">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Dirección</ion-label>
      <ion-label class="info-label">
        {{ observation.direccion.split(",")[0] }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Acerca del Árbol
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-label class="info-label">
        <h2>{{ observation.arbol.nombre.vulgar }}</h2>
        <p>{{ observation.arbol.nombre.cientifico }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Diámetro</ion-label>
      <ion-label class="info-label">{{ observation.arbol.diametro }}cm.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Altura</ion-label>
      <ion-label class="info-label">{{ observation.arbol.altura }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Fenología</ion-label>
      <ion-label class="info-label">
        <p *ngFor="let e of observation.arbol.fenologia">
          {{ e }}
        </p>
        <p *ngIf="observation.arbol.fenologia.length === 0">
          Ninguna
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Síntomas</ion-label>
      <ion-label class="info-label">
        <p *ngFor="let e of observation.arbol.sintomas">
          {{ e }}
        </p>
        <p *ngIf="observation.arbol.sintomas.length === 0">
          Ninguno
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Sanidad</ion-label>
      <ion-label class="info-label">{{ observation.arbol.sanidad }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Poda</ion-label>
      <ion-label class="info-label">{{ observation.arbol.poda }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Taza Apropiada</ion-label>
      <ion-label class="info-label">{{ observation.taza ? "Si" : "No" }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Adicionales
    </ion-list-header>

    <ion-item>
      <ion-label>Tutor</ion-label>
      <ion-label class="info-label">{{ observation.tutor ? "Si" : "No" }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Comentarios
        <p style="margin-top: 0.5rem;">
          {{ observation.comentario || "Sin comentarios" }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="pictures && pictures.length > 0">
    <ion-list-header>
      Fotografías
    </ion-list-header>

    <ion-item lines="none">
      <ion-slides [options]="
        { slidesPerView: 'auto'
        , zoom: false
        , grabCursor: true
        , spaceBetween: 10
        }">
        <ion-slide *ngFor="let e of pictures" (click)="onPictureClick(e)">
          <ion-img [src]="e"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-item>

  </ion-list>
</ion-content>