ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: var(--ion-color-primary);
    --highlight-background: var(--ion-color-primary);
}
