<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="region-map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="observation">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Observaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wiki">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Wiki</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>