<ion-header>
  <ion-toolbar>
    <ion-title>Fotografías</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onFinishOperation()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="prompt-or-selected-container">
    <div id="prompt-or-selected-picture">
      <div id="selected-picture" *ngIf="selectedPicture">
        <img [src]="selectedPicturePreview">
        <ion-icon class="delete-button delete-button-big" name="close" (click)="onClearSelectedPicture()"></ion-icon>
      </div>
      <div id="picture-prompt" *ngIf="!selectedPicture" (click)="imginput.click()">
        <svg style="opacity: 10%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 352">
          <defs />
          <path
            d="M333 16a56 56 0 00-40-16h-54v22h53a35 35 0 0135 35v57h22V56c0-15-6-29-16-40zM35 320c-6-6-10-15-10-25v-57H3v58c0 15 7 29 17 40 11 10 25 16 40 16h54v-22H60c-9 0-18-4-25-10zM327 296a35 35 0 01-35 35h-53v21h53c16 0 30-6 40-16 11-10 17-24 17-40v-58h-22v58zM20 16A56 56 0 004 56v58h21V56c0-9 4-18 11-24 6-7 15-11 25-11h53V0H60C45 0 31 6 20 16z" />
        </svg>
        <p style="opacity: 30%">Pulse aquí para cargar fotos</p>
      </div>
    </div>
    <input #imginput type="file" accept="image/*" id="capture" capture="camera" style="display: none"
      (change)="onInputChange($event.target.files)">
  </div>

  <div id="taken-pictures-container">
    <span class="taken-picture" *ngFor="let picture of pictures">
      <img [src]="getPicturePreview(picture)" alt="" (click)="onSelectedPicture(picture)">
      <ion-icon class="delete-button" name="close" (click)="onDeletePicture(picture)"></ion-icon>
    </span>
  </div>
</ion-content>