<ion-header>
  <ion-toolbar>
    <ion-title>Registra una Observación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmitObservation()">
    <ion-list>
      <ion-list-header>
        Acerca de la Observación
      </ion-list-header>

      <ion-item lines="inset">
        <ion-label>Fecha</ion-label>
        <ion-datetime displayFormat="DD/MMM/YY" pickerFormat="DD MMM YY" yearValues="2019,2020,2021"
          cancel-text="Cancelar" done-text="Aceptar" formControlName="fecha">
        </ion-datetime>
      </ion-item>

      <ion-item lines="inset" (click)="onCurrentLocation()">
        <ion-label>Dirección</ion-label>
        <ion-spinner *ngIf="!naturalAddress" name="crescent"></ion-spinner>
        <ion-label style="text-align: end;" *ngIf="naturalAddress">
          {{ naturalAddress }}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Acerca del Árbol
      </ion-list-header>

      <ion-item lines="inset" button [detail]="!(treeName.vulgar)" (click)="onTreeName()">
        <ion-label>Nombre</ion-label>
        <ion-label style="text-align: end;" *ngIf="(treeName.vulgar)"> {{ treeName.vulgar }}</ion-label>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">
          Diámetro (cm)
        </ion-label>
        <ion-input type="number" formControlName="diametro"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>
          Altura
        </ion-label>
        <ion-select cancel-text="Cancelar" ok-text="Ok" formControlName="altura">
          <ion-select-option *ngFor="let e of enumValues.alturas">
            {{ e }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>
          Fenología
        </ion-label>
        <ion-select multiple cancel-text="Cancelar" ok-text="Ok" formControlName="fenologia">
          <ion-select-option *ngFor="let e of enumValues.fenologias">
            {{ e }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>
          Síntomas
        </ion-label>
        <ion-select multiple cancel-text="Cancelar" ok-text="Ok" formControlName="sintomas">
          <ion-select-option *ngFor="let e of enumValues.sintomas">
            {{ e }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>
          Sanidad
        </ion-label>
        <ion-select cancel-text="Cancelar" ok-text="Ok" formControlName="sanidad">
          <ion-select-option *ngFor="let e of enumValues.sanidades">{{ e }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>
          Poda
        </ion-label>
        <ion-select cancel-text="Cancelar" ok-text="Ok" formControlName="poda">
          <ion-select-option *ngFor="let e of enumValues.podas">{{ e }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>
          Taza Apropiada
        </ion-label>
        <ion-checkbox slot="end" formControlName="taza"></ion-checkbox>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-list-header>
        Fotografías
      </ion-list-header>
      <ion-item (click)="onAddPictures()" button detail>
        <ion-label>
          Añadir fotografías
          <!-- TODO: Mostrar un contador con la cantidad actual -->
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Adicionales
      </ion-list-header>

      <ion-item>
        <ion-label>
          Tutor
        </ion-label>
        <ion-checkbox slot="end" formControlName="tutor"></ion-checkbox>
      </ion-item>

      <ion-item (click)="onAddComment()" button detail>
        <ion-label>
          Añadir Comentarios
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" [disabled]="!form.valid">
        Registrar
      </ion-button>
    </div>
  </form>
</ion-content>