#prompt-or-selected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

#taken-pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30%;
  overflow-y: scroll;
  span {
    box-sizing: border-box;
    flex: 0 0 33.3%;
    img {
      padding: 1px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#step-3 {
  ion-item {
    --min-height: 50px;
    --max-height: 50px;
  }
}
