<ion-header>
  <ion-toolbar>
    <ion-title>{{ currentTitle }}</ion-title>
    <ion-buttons slot="start" *ngIf="currentStep !== 1">
      <ion-button (click)="onGoBackClick()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button *ngIf="currentStep !== 3" (click)="onContinueClick()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-button *ngIf="currentStep === 3" (click)="onFinish()">
        <!-- [disabled]="!observacion.valid" -->
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- TODO: Step '0' with small tutorial for first time users -->

  <!-- Step 1 -->
  <div id="step-1" *ngIf="currentStep === 1" style="height: 100%">
    <agm-map *ngIf="coords" [latitude]="coords.latitude" [longitude]="coords.longitude" [zoom]="20"
      disableDefaultUI="true" mapTypeId="hybrid" style="height: 100%">
      <agm-marker [latitude]="coords.latitude" [longitude]="coords.longitude">
      </agm-marker>
    </agm-map>
  </div>

  <!-- Step 2 -->
  <div id="step-2" *ngIf="currentStep === 2" style="height: 100%">
    <div id="prompt-or-selected-container">
      <div id="prompt-or-selected-picture">
        <div id="selected-picture" *ngIf="fotoSeleccionada">
          <img [src]="fotoSeleccionada">
          <ion-icon class="delete-button delete-button-big" name="close" (click)="clearSelectedPicture()"></ion-icon>
        </div>
        <div id="picture-prompt" *ngIf="!fotoSeleccionada" (click)="imginput.click()">
          <svg style="opacity: 10%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 352">
            <defs />
            <path
              d="M333 16a56 56 0 00-40-16h-54v22h53a35 35 0 0135 35v57h22V56c0-15-6-29-16-40zM35 320c-6-6-10-15-10-25v-57H3v58c0 15 7 29 17 40 11 10 25 16 40 16h54v-22H60c-9 0-18-4-25-10zM327 296a35 35 0 01-35 35h-53v21h53c16 0 30-6 40-16 11-10 17-24 17-40v-58h-22v58zM20 16A56 56 0 004 56v58h21V56c0-9 4-18 11-24 6-7 15-11 25-11h53V0H60C45 0 31 6 20 16z" />
          </svg>
        </div>
      </div>
      <input #imginput type="file" accept="image/*" id="capture" capture="camera" style="display: none"
        (change)="onInputChange($event.target.files)">
    </div>

    <div id="taken-pictures-container">
      <span class="taken-picture" *ngFor="let foto of fotos">
        <img [src]="foto" alt="" (click)="onSelectedPicture(foto)">
        <ion-icon class="delete-button" name="close" (click)="borrarFoto(foto)"></ion-icon>
      </span>
    </div>
  </div>

  <!-- Step 3 -->
  <div id="step-3" *ngIf="currentStep === 3" style="height: 100%;">
    <form [formGroup]="observacion" (ngSubmit)="onFinish()">
      <ion-list>
        <ion-list-header>
          Acerca de la Observación
        </ion-list-header>

        <ion-item lines="inset">
          <ion-label>Fecha</ion-label>
          <ion-datetime displayFormat="DD/MMM/YY" pickerFormat="DD MMM YY" yearValues="2019,2020,2021"
            cancel-text="Cancelar" done-text="Aceptar" formControlName="fecha">
          </ion-datetime>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>Dirección</ion-label>
          <ion-spinner *ngIf="!direccion" name="crescent"></ion-spinner>
          <ion-label style="text-align: end;" *ngIf="direccion"> {{ direccion }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-list lines="inset">
        <ion-list-header>
          Acerca del Árbol
        </ion-list-header>
        <ion-item lines="inset" button [detail]="!(nombre.vulgar)" (click)="showNameModal()">
          <ion-label>Nombre</ion-label>
          <ion-label style="text-align: end;" *ngIf="(nombre.vulgar)"> {{ nombre.vulgar }}</ion-label>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="floating">
            Diámetro
          </ion-label>
          <ion-input type="number" formControlName="diametro"></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Altura
          </ion-label>
          <ion-select cancel-text="Cancelar" ok-text="Ok" formControlName="altura">
            <ion-select-option *ngFor="let altura of alturas">{{ altura }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Fenología
          </ion-label>
          <ion-select multiple cancel-text="Cancelar" ok-text="Ok" formControlName="fenologia">
            <ion-select-option *ngFor="let fen of fenologias">{{ fen }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Síntomas
          </ion-label>
          <ion-select multiple cancel-text="Cancelar" ok-text="Ok" formControlName="sintomas">
            <ion-select-option *ngFor="let sint of sintomas">{{ sint }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Sanidad
          </ion-label>
          <ion-select cancel-text="Cancelar" ok-text="Ok" formControlName="sanidad">
            <ion-select-option *ngFor="let san of sanidades">{{ san }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Poda Correcta
          </ion-label>
          <ion-checkbox slot="end" formControlName="podaCorrecta"></ion-checkbox>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Taza del Ejemplar
          </ion-label>
          <ion-checkbox slot="end" formControlName="taza"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Adicionales
        </ion-list-header>

        <ion-item lines="none">
          <ion-label>
            Tutor
          </ion-label>
          <ion-checkbox slot="end" formControlName="tutor"></ion-checkbox>
        </ion-item>

        <ion-item (click)="showAddCommentModal()" lines="none" button detail>
          <ion-label>
            Añadir Comentarios
          </ion-label>
        </ion-item>

      </ion-list>
    </form>
  </div>

</ion-content>