<ion-header>
  <ion-toolbar>
    <ion-title>Wiki de Árboles</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [formControl]="searchControl" animated placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="searchResults$ | async as results">
    <ion-list *ngIf="results.length > 0; else emptyResults">
      <ion-item *ngFor="let tree of results">
        <ion-label>
          <h2> {{ tree.nombre_comun }} </h2>
          <p> {{ tree.nombre_cientifico }} </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #emptyResults>
      <div class="empty-list">
        <h3>Sin resultados</h3>
      </div>
    </ng-template>

  </ng-container>

</ion-content>
