#map-spinner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    opacity: 30%;

    ion-spinner {
        height: 20%;
        width: 20%;
    }
}
