<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelOperation()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveComment()">
        <ion-icon slot="icon-only" name="attach"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-textarea [(ngModel)]="comentario" placeholder="No hay comentarios actualmente" autofocus rows="20">
    </ion-textarea>
  </ion-item>

</ion-content>